.boxContainer2{
            width: 1010px;
            height: 450px;
            margin: auto;
        }
        .box2_1{
            width: 1000px;
            height: 50px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box2_2{
            width: 500px;
            height: 300px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box2_3{
            width: 500px;
            height: 600px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box2_4{
            width: 500px;
            height: 300px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box2_5{
            width: 1000px;
            height: 50px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
   