.boxContainer{
            width: 1008px;
            height: 450px;
            margin: auto;

        }
        .box1{
            width: 1000px;
            height: 50px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box2{
            width: 1000px;
            height: 50px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }
        .box3{
            width: 500px;
            height: 300px;
            background-color: rgb(132, 132, 231);
            float: left;
            border: 0.1px solid black;
        }
        .box4{
            width: 500px;
            height: 300px;
            background-color: blue;
            float: left;
            border: 0.1px solid black;
        }
        .box5{
            width: 1000px;
            height: 50px;
            background-color: rgb(147, 147, 228);
            float: left;
            border: 1px solid black;
        }